.about-us {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: 0 top;
  background-size: 102%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.about-us__list {
  .list-reset;
}

.about-us__item {
  font-size: @fs-normal;
  line-height: @lh-normal;
  font-weight: 700;
  color: @black;
  min-height: 126px;
  padding-top: 90px;
}

@media (min-width: @tablet-width) {
  .about-us {
    height: 650px;
  }

  .about-us__list {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-us__item {
    width: 50%;
    height: 150px;
  }
}

/*hh*/
