.btn {
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: @fs-normal;
  line-height: @lh-normal;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: @gray-dark;
  text-decoration: none;

  &--modal {
    background-color: @tiffany;
    border: none;
    color: #ffffff;
  }
}

.btn:hover {
  background-color: @gray-dark;
  color: #ffffff;
}

.btn:active,
.btn:focus {
  color: #7c7c7c;
}
