.btn {
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: @fs-normal;
  line-height: @lh-normal;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: @gray-dark;
  text-decoration: none;
  // width: 100%;

  &--modal {
    background-color: @tiffany;
    border: none;
    color: #ffffff;
  }
}

/*hh*/

