.catalog__heading {
  min-height: 180px;
}

.catalog__list {
  .list-reset;
}

@media (min-width: @tablet-width) {
  .catalog__heading {
    min-height: 225px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__heading {
    min-height: 232px;
  }

  .catalog__list {
    display: flex;
  }
}

/*bb*/
