.catalogue-brief {
  font-family: @face;
  font-size: @fs-big;
  line-height: @lh-l;
  font-weight: 700;
  color: #ffffff;
}

.catalogue-brief__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: @tiffany;

  &--dark {
    background-color: @tiffany-dark;
  }
}
/*the end*/
