.catalogue-brief {
  font-family: @face;
  font-size: @fs-big;
  line-height: @lh-big;
  font-weight: bold;
  color: white;

  .catalogue-brief__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-decoration: none;
    font: inherit;
    color: white;
    background-color: @tiffany;

    &--dark {
      background-color: @tiffany-dark;
    }
  }
}

/*the end*/
