.contacts {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;

  .contacts__heading {
    font-size: 18px;
    font-weight: bold;
  }

  .contacts__map {
    background-image: url("/img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}

/*hh*/
