.contacts {
  font-size: @fs-small;
  line-height: @lh-xl;
  font-weight: 400;
}

.contacts__heading {
  font-size: 18px;
  font-weight: 700;
}

.contacts__wrapper {
  display: flex;
}

.contacts__mail {
  color: @gray-dark;
  text-decoration-color: @tiffany;
}

.contacts__adress {
  font: inherit;
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .contacts__text {
    display: flex;
  }

  .contacts__wrapper {
    width: 50%;
  }
}

/*hh*/
