.form {
  margin-bottom: 55px;
}

.form__heading {
  min-height: 175px;
  display: block;
  padding-top: 69px;
  padding-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 51px;
  }

  .form__heading {
    padding-top: 95px;
    padding-bottom: 85px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin-bottom: 49px;
  }

  .form__heading {
    padding-top: 94px;
    padding-bottom: 100px;
  }
}
