.header__nav-user,
.header__nav-additional {
  .list-reset;
}


.header {
  position: relative;
  font-family: @face;
  color: @black;
  font-size: @fs-normal;
  line-height: @lh-small;
  font-weight: 700;
  background-color: #ffffff;
  justify-content: space-between;
}

.header__link-logo {
  display: block;
  height: 80px;
  text-align: center;
  width: 100%;
}

.header__link-logo svg {
  display: inline-block;
  margin: 0 auto;
  width: 154px;
}

.header__logo--tablet {
  display: none;
}

.header__logo--desktop {
  display: none;
}

.header-search {
  display: flex;
}

.header__nav-additional {
  display: none;
}

.header__ship-info {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .header__link-logo {
    border-bottom: 1px solid @gray;
  }

  .nav__search {
    border-bottom: 1px solid @gray;
  }
}

@media (min-width: @tablet-width) {
  .header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -43px;
    background-color: transparent;
  }

  .header__link-logo {
    width: 48%;
    padding: 0;
    border-right: 1px solid @gray;
    border-bottom: 1px solid #f1f1f1;
    order: -5;
    text-align: left;
    padding-left: 28px;
    padding-top: 6px;
    height: auto;
  }

  .header__link-logo svg {
    max-width: 150px;
  }

  .header__link-logo:hover svg {
    fill: #666666;
  }

  .header__link-logo:active svg,
  .header__link-logo:focus svg {
    fill: #b2b2b2;
  }

  .header__logo--mobile {
    display: none;
  }

  .header__logo--tablet {
    display: inline-block;
  }

  .header__nav-user {
    display: flex;
    order: -2;
    padding-bottom: 2px;
    width: 52%;
    border-bottom: 1px solid #f1f1f1;
    height: 88px;
  }

  .header__ship-info {
    display: block;
    padding-top: 18px;
    padding-right: 50px;
    font-size: @fs-small;
    line-height: @lh-big;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .header {
    justify-content: flex-start;
    margin-bottom: -41px;
  }

  .header__nav-additional {
    display: flex;
    padding-left: 50px;
    padding-top: 16px;
  }

  .nav__list-main {
    display: flex;
  }

  .header__nav {
    order: -6;
  }

  .header__link-logo {
    width: 20%;
    padding: 9px 39px 0;
  }

  .header__link-logo svg {
    width: 100%;
    margin: 0;
    max-width: none;
  }

  .header__logo--tablet {
    display: none;
  }

  .header__logo--desktop {
    display: inline-block;
  }

  .header__nav-user {
    width: 34.9%;
    margin-left: 58px;
  }

  .header__ship-info {
    margin-left: auto;
    padding-top: 16px;
  }
}
