.hit {
  min-height: 820px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-size: @fs-small;
  line-height: @lh-small;
  font-weight: 400;
  color: @gray-dark;
  padding: 30px;
  padding-top: 27px;
}

.hit__heading {
  margin-bottom: 6px;
}

.hit__wrapper-heading {
  margin-bottom: 22px;
}

.hit__descr {
  .list-reset;
  margin-bottom: 29px;
  padding-top: 2px;
}

.hit__reason {
  font-size: @fs-normal;
  line-height: @lh-normal;
  font-weight: 700;
  color: @tiffany;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hit__feathure {
  display: flex;
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ececec;
}

.hit__prop {
  width: 35%;
}

.hit__val {
  padding-left: 6px;
}

.hit__feathure:first-child .hit__val {
  padding-left: 4px;
}

.hit__img {
  width: 260px;
  margin-bottom: 24px;
}

.hit__price {
  font-size: @fs-normal;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .hit {
    min-height: 610px;
    max-width: none;
    position: relative;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 100%;
    margin-top: -21px;
    padding-top: 56px;
    padding-left: 47px;
    padding-right: 50px;
    padding-bottom: 52px;
  }

  .hit__wrapper-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 44px;
  }


  .hit__reason {
    width: 100px;
    text-align: center;
    margin-right: 13px;
    padding-top: 16px;
    line-height: 18px;
  }

  .hit__info {
    width: 44%;
    margin: 0;
    margin-right: auto;
    margin-left: 2px;
    margin-bottom: 35px;
    padding: 0;
    font-size: @fs-normal;
    line-height: @lh-xl;
  }

  .hit__descr {
    width: 43%;
    margin-bottom: 55px;
    margin-left: 2px;
    line-height: @lh-normal;
  }

  .hit__feathure {
    padding-bottom: 11px;
  }

  .hit__feathure:first-child .hit__val {
    padding-left: 6px;
  }

  .hit__prop {
    width: 31%;
  }

  .hit__val {
    padding-left: 7px;
  }

  .hit__img {
    position: absolute;
    right: 50px;
    top: 166px;
    width: 333px;
  }

  .hit__price {
    width: 44%;
    margin-right: auto;
    font-size: @fs-big-t;
    margin-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    padding-top: 141px;
    background-position: 0 top;
    background-size: 100%;
    margin-top: -26px;
    padding-bottom: 73px;
  }

  .hit__wrapper-heading {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 42px;
  }

  .hit__reason {
    line-height: 17px;
    margin-left: 35px;
    padding-top: 14px;
  }

  .hit__heading {
    margin-left: 26px;
  }

  .hit__img {
    top: 87px;
    width: 525px;
    z-index: -1;
  }

  .hit__info {
    width: 350px;
    margin-left: 179px;
    margin-bottom: 47px;
  }

  .hit__descr {
    margin-left: 179px;
    margin-bottom: 108px;
    width: 27%;
  }

  .hit__feathure {
    padding-bottom: 12px;
  }

  .hit__descr :nth-child(3).hit__feathure {
    padding-top: 7px;
  }

  .hit__val {
    padding-left: 8px;
  }

  .hit__price {
    width: 30%;
    margin-left: 166px;
  }
}
