.icon-menu-close {
  fill: #231F20;
  width:20.514px;
  height: 20.512px;
}

.icon-menu-open {
    fill:#231F20;
    width:19.958px;
    height:14px;
}

.icon-search {
  // fill: #d3d2d2;
  position: absolute;
  top: 32px;
  left: 32px;
  width: 17.6px;
  height: 17.6px;
  opacity: 0.3;
  fill: red;
}

.icon-cart {
  // fill: #d3d2d2;
  position: absolute;
  top: 29px;
  left: 31px;
  width: 20.294px;
  height: 18.849px;
  opacity: 0.3;
  fill: red;
}

.icon-interior {
    width:40.219px;
    height:62.411px;
}
.icon-toy {
    fill:#231F20;
    width:60px;
    height:59.62px;
}

.icon-feature-money {
    width:46.575px;
    height:27.332px;
}

.icon-feature-heart {
    fill:#231F20;
    width:33.05px;
    height:27.857px;
}
.icon-feature-rocket {
    width:54.156px;
    height:23.183px;
}

.icon-feature-gift {
    fill:#231F20;
    width:32.666px;
    height:32.486px;
}

.icon-feature-flower {
    fill:#231F20;
    width:31.972px;
    height:37.301px;
}

.icon-feature-ball {
    width:34.373px;
    height:34.373px;
}

.icon-left-arrow {
    width:50px;
    height:26.003px;
}
.icon-right-arrow {
    width:50px;
    height:26.003px;
}

.icon-insta {
    fill:#231F20;
    width:21.769px;
    height:21.334px;
}
.icon-twitter {
    fill:#231F20;
    width:23.494px;
    height:20.168px;
}

.iacon-fb {
    fill:#231F20;
    width:14.962px;
    height:27.718px;
}
.logo-htmlacademy{
    width:26.943px;
    height:34.09px;
}
