.icon-menu-close {
  fill: #231f20;
  width: 20.514px;
  height: 20.512px;
}

.icon-menu-open {
  fill: #231f20;
  width: 19.958px;
  height: 14px;
}

.icon-search {
  fill: #d3d2d2;
  position: absolute;
  top: 31px;
  left: 32px;
  width: 17.6px;
  height: 17.6px;
  opacity: 0.3;
}

.icon-cart {
  fill: #d3d2d2;
  position: absolute;
  top: 29px;
  left: 31px;
  width: 20.294px;
  height: 18.849px;
  opacity: 0.3;
}

.product__icon-cart {
  fill: #d3d2d2;
  width: 20.294px;
  height: 18.849px;
  opacity: 0.3;
}

.icon-interior {
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40.219px;
  height: 62.411px;
  fill: #3bb09d;
}

.icon-toy {
  position: absolute;
  top: 21px;
  right: 28px;
  fill: #35a999;
  width: 60px;
  height: 59.62px;
}

.icon-feature-money {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 46.575px;
  height: 27.332px;
  fill: #63d1bb;
}

.icon-feature-heart {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 33.05px;
  height: 27.857px;
  fill: #63d1bb;
}

.icon-feature-rocket {
  position: absolute;
  top: 7px;
  left: -3px;
  width: 54.156px;
  height: 23.183px;
  fill: #63d1bb;
}

.icon-feature-gift {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 32.666px;
  height: 32.486px;
  fill: #63d1bb;
}

.icon-feature-flower {
  position: absolute;
  top: 2px;
  left: 9px;
  width: 31.972px;
  height: 37.301px;
  fill: #63d1bb;
}

.icon-feature-ball {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 34.373px;
  height: 34.373px;
  fill: #63d1bb;
}

.icon-left-arrow {
  width: 50px;
  height: 26.003px;
}

.icon-right-arrow {
  width: 50px;
  height: 26.003px;
}

.icon-insta {
  width: 21.769px;
  height: 21.334px;
}

.icon-twitter {
  width: 23.494px;
  height: 20.168px;
}

.iacon-fb {
  width: 14.962px;
  height: 27.718px;
}

.logo-htmlacademy {
  width: 26.943px;
  height: 34.09px;
  fill: #63d1bb;
}

.icon-flag {
  display: none;
}

.icon-video {
  position: absolute;
  top: 29px;
  left: 33px;
  width: 32px;
  height: 32px;
  fill: #63d1bb;
}

.icon-play {
  width: 100.678px;
  height: 76.891px;
}

.icon-phone {
  position: absolute;
  top: 33px;
  right: 40px;
  width: 24.829px;
  height: 24.333px;
}

.icon-mail {
  position: absolute;
  top: 34px;
  right: 33px;
  width: 32px;
  height: 32px;
}

@media (min-width: @tablet-width) {
  .icon-search {
    top: 36px;
    left: 32px;
  }

  .icon-cart {
    top: 35px;
    left: 31px;
  }

  .icon-interior {
    top: 29px;
  }

  .icon-toy {
    top: 32px;
    right: 34px;
    fill: #35a999;
  }

  .icon-feature-money {
    top: 5px;
    left: 1px;
  }

  .icon-feature-flower {
    top: 2px;
    left: 9px;
  }

  .icon-feature-rocket {
    top: 8px;
    left: -5px;
  }

  .icon-feature-ball {
    left: 4px;
  }

  .icon-feature-gift {
    top: 6px;
    left: 4px;
  }

  .icon-flag {
    display: block;
    position: absolute;
    top: 92px;
    right: 53px;
    width: 46.68px;
    height: 81.691px;
  }

  .icon-video {
    top: 490px;
    left: 41px;
  }

  .icon-phone {
    top: 60px;
    right: 77px;
  }

  .icon-mail {
    right: 71px;
    top: 35px;
  }
}

@media (min-width: @desktop-width) {
  .icon-feature-ball {
    left: 5px;
  }

  .icon-feature-money {
    left: 2px;
  }

  .icon-feature-rocket {
    left: -4px;
  }

  .icon-feature-gift {
    left: 5px;
  }

  .icon-flag {
    top: 192px;
    left: 63px;
  }

  .icon-video {
    top: 41px;
    right: 257px;
    left: auto;
  }

  .icon-phone {
    right: 234px;
  }

  .icon-mail {
    right: 230px;
  }
}
