.modal {
  height: 335px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  box-shadow: 0 15px 10px -15px #111111;
  text-align: center;
}

.modal__heading {
  text-transform: uppercase;
  margin: 0;
}

.modal__form {
  margin: 0;
}

.modal-cart-btn {
  width: 100%;
}

.modal__btn {
  background-color: @tiffany;
  border: none;
  color: #ffffff;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .modal-cart-btn {
    width: 45.7%;
  }
}

/*hh*/
