.nav__list {
  .list-reset;
}

.nav__link {
  text-decoration: none;
  color: @black;
}


@media (min-width: @tablet-width) {
  .nav__catalog {
    font-size: @fs-small;
  }

  .nav__form {
    font-size: @fs-small;
  }
}

.nav__ship-info {
  font-weight: 400;
}

@media (min-width: @desktop-width) {
  .nav__item {
    font-size: @fs-normal;
  }

  .nav__item--transparent {
    font-size: @fs-small;
  }
}


/*рр*/
