.nav__item {
  list-style: none;
  color: #000000;

  .nav__link {
    text-decoration: none;
    color: inherit;
  }

  .nav__search {
    border: none;
    font: inherit;


    &::placeholder {
      color: inherit;
    }
  }
}
/*рр*/
