.order__text {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-size: @fs-xs;
  line-height: @lh-big;
  color: @gray-dark;
}

.order__heading {
  font-size: @fs-normal;
  line-height: 16px;
  color: @tiffany;
  font-weight: 700;
  text-transform: uppercase;
}

.order__lbl-type {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 700;
}

.order__lbl-color {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 700;
}

.order__lbl-name {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 700;
}


.order__lbl-name::placeholder {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 400;
}

.order__additional-info {
  font-size: 14px;
  line-height: 16px;
  color: @gray-dark;
}

.order__fieldset-type {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.order__wrapper {
  display: flex;
  flex-direction: column;
}

.order__fieldset-color {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}


.order__fieldset-name {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.order__wrapper-name {
  display: flex;
  flex-direction: column;
}

.order__fieldset-tel {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.order__fieldset-mail {
  padding-left: 30px;
  padding-right: 30px;
}

.order__input-mail {
  width: 100%;
}

.order__fieldset-addition {
  padding-left: 30px;
  padding-right: 30px;
}

.order__wrapper-submit {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: @tablet-width) {
  .order__heading {
    min-width: 167px;
  }

  .order__text {
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: 102%;
    margin-top: -21px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .order__fieldset-type {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__fieldset-color {
    background-color: @gray;
    flex-direction: row;
    min-height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__fieldset-color .order__heading {
    width: 50%;
  }


  .order__wrapper-checkboxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .order__wrapper-color {
    width: 50%;
    height: 33%;
  }

  .order__fieldset-name {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__wrapper-name {
    flex-direction: row;
  }

  .order__fieldset-tel {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__fieldset-mail {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__input-mail {
    width: 500px;
  }

  .order__fieldset-addition {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__wrapper-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order__submit {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .order__text {
    padding-left: 225px;
  }

  .order__wrapper-color {
    width: 33%;
  }

  .order__heading {
    padding-left: 58px;
  }
}

/*hh*/
