.order__text {
  font-size: @fs-xs;
  line-height: @lh-big;
  color: @gray-dark;
}

.order__heading {
  font-size: @fs-normal;
  line-height: 16px;
  color: @tiffany;
  font-weight: 700;
  text-transform: uppercase;
}

.order__lbl-type {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 700;
}

.order__lbl-color {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 700;
}

.order__lbl-name {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 700;
}


.order__lbl-name::placeholder {
  font-size: @fs-normal;
  line-height: 18px;
  font-weight: 400;
}

.order__additional {
  font-size: 14px;
  line-height: 16px;
  color: @gray-dark;
}

/*hh*/
