.product {
  font-size: @fs-normal;
  line-height: @lh-big;
  font-weight: 400;
}

.product__title {
  color: @black;
}

.product__description {
  font-size: @fs-xs;
  line-height: @lh-xl;
  font-weight: 400;
  color: @gray-dark;
}

.product__price {
  font-size: @fs-small;
  line-height: @lh-big;
  font-weight: 700;
  color: @black;
}

@media (min-width: @tablet-width) {
  .product {
    height: 333px;
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 33%;
    display: block;
  }
}


/*рр*/
