.product {
  font-size: @fs-normal;
  line-height: @lh-big;
  font-weight: 400;
  border-bottom: 1px solid @gray;
  border-left: 1px solid @gray;
  border-right: 1px solid @gray;
}

.product:not(:last-child) {
  margin-bottom: 30px;
}

.product:hover {
  box-shadow: 0 10px 10px 0 rgba(#000000, 0.1);
}

.product:active,
.product:focus {
  box-shadow: 0 3px 5px 0 rgba(#000000, 0.1);
}

.product__link-image {
  margin-bottom: 27px;
  display: block;
}

.product__img {
  width: 100%;
}

.product__text {
  padding-left: 27px;
  padding-bottom: 27px;
  min-height: 151px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product__title {
  font-size: @fs-normal;
  color: @black;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.product__description {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: @fs-xs;
  line-height: @lh-xl;
  font-weight: 400;
  color: @gray-dark;
}

.product__description::after {
  position: absolute;
  content: "";
  width: 88%;
  bottom: -20px;
  left: 0;
  border-bottom: 1px solid @gray;
}

.product__price {
  font-size: @fs-small;
  line-height: @lh-big;
  font-weight: 700;
  color: @black;
}

.product__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 22px;
  margin-top: auto;
}

.product__btn {
  background-color: transparent;
  border: none;
  width: 30px;
}

.catalog__item:nth-child(3) .product__link-image {
  margin-bottom: 27px;
}

.catalog__item:nth-child(3) .product__title {
  margin-bottom: 6px;
}

.catalog__item:nth-child(3) .product__description {
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .product {
    height: 334px;
    max-width: 750px;
    display: flex;
    padding-bottom: 0;
    border-top: 1px solid @gray;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .product__link-image {
    margin-bottom: 0;
    width: 50%;
  }

  .product__link-image img {
    width: 100%;
    max-width: 332px;
  }

  .product__text {
    width: 50%;
    padding-top: 26px;
    padding-left: 27px;
    padding-bottom: 25px;
  }

  .product__title {
    font-size: @fs-big-t;
  }

  .product__description {
    font-size: @fs-small;
  }

  .product__price {
    font-size: @fs-normal;
    margin-left: 5px;
  }

  .product__btn {
    padding: 0;
    padding-right: 10px;
  }

  .product:nth-child(2) .product__price {
    margin-left: 4px;
  }

  .product__description::after {
    width: 86%;
    bottom: -175px;
    left: 7px;
  }

  .product:not(:last-child) {
    margin-bottom: 54px;
  }

  .product:nth-child(2) .product__title {
    margin-bottom: 8px;
  }

  .product:nth-child(2) .product__description::after {
    bottom: -173px;
  }

  .catalog__item:nth-child(3) {
    padding-top: 0;
  }

  .catalog__item:nth-child(3) .product__description::after {
    bottom: -152px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 30.1%;
    height: 100%;
    display: block;
    border-top: none;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .product__link-image {
    width: 316px;
  }

  .product__link-image img {

    max-width: none;
  }

  .product__text {
    width: 100%;
    padding-top: 26px;
    min-height: 195px;
    padding-bottom: 26px;
  }

  .product__title {
    margin-bottom: 4px;
  }

  .product__description {
    margin-bottom: 33px;
  }

  .catalog__item .product__description::after {
    width: 88%;
    bottom: -39px;
    left: 1px;
  }

  .product:nth-child(2) .product__description::after {
    bottom: -39px;
  }

  .catalog__item:nth-child(3) .product__description::after {
    bottom: -15px;
  }

  .product__price {
    margin-left: 0;
  }

  .product:nth-child(2) .product__text {
    padding-left: 23px;
  }

  .product:nth-child(2) .product__link-title {
    padding-left: 3px;
  }

  .product:nth-child(2) .product__description {
    padding-left: 3px;
  }

  .product:nth-child(2) .product__title {
    margin-bottom: 4px;
  }

  .catalog__list :not(:last-child) {
    margin-bottom: 0;
  }

  .catalog__item:nth-child(3) .product__link-image {
    margin-bottom: 0;
  }

  .catalog__item:nth-child(3) .product__text {
    padding-left: 26px;
  }

  .catalog__item:nth-child(3) .product__link-title {
    margin-bottom: -1px;
  }

  .catalog__item:nth-child(3) .product__title {
    margin-bottom: 5px;
  }

  .catalog__item:nth-child(3) .product__description {
    margin-bottom: 0;
  }

  .product__btn {
    padding-right: 9px;
  }
}
