.reviews {
  font-size: @fs-small;
  line-height: @lh-small;
  font-weight: normal;

  .reviews__item {
    list-style: none;
  }

  .reviews__author {
    font-size: @fs-normal;
    line-height: @lh-normal;
    font-weight: bold;
    color: @black;
  }

  .reviews__nick {
    font-size: @fs-normal;
    line-height: @lh-normal;
    font-weight: normal;
    color: @black;
  }
}

/*hh*/
