.reviews {
  font-size: @fs-small;
  line-height: @lh-small;
  font-weight: 400;
}

.reviews__list {
  .list-reset;
}

.reviews__author {
  font-size: @fs-normal;
  line-height: @lh-normal;
  font-weight: 700;
}

.reviews__nick {
  font-size: @fs-normal;
  line-height: @lh-normal;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;
    height: 524px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__write {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

/*hh*/
