.title-h2 {
  font-size: @fs-l;
  line-height: @lh-xl;
  font-weight: 700;
  color: @black;
}

.section__text {
  color: @black;
  font-size: @fs-normal;
  line-height: @lh-normal;
  font-weight: 700;
}


/*the end*/
