.section {
  color: @black;

  .section__heading {
    font-size: @fs-l;
    line-height: @lh-xl;
    font-weight: bold;
  }

  .section__text {
    font-size: @fs-normal;
    line-height: @lh-normal;
    font-weight: bold;
  }
}

/*the end*/
