.social__list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 61px;
  padding-top: 8px;
}

.social__link {
  text-decoration: none;
}

.social__link--inst {
  display: block;
  padding-top: 5px;
}

.social__link--tw {
  display: block;
  padding-top: 5px;
}


@media (min-width: @tablet-width) {
  .social__list {
    padding-left: 0;
    padding-right: 0;
  }

  .social__list :not(:last-child) {
    margin-right: 26px;
  }
}

/*рр*/
