.video__heding {
  font-size: @fs-normal;
  line-height: @lh-big;
  font-weight: 700;
}

.video__description {
  font-size: @fs-xs;
  line-height: @lh-big;
  font-weight: 400;
  color: @gray-dark;
}

@media (min-width: @desktop-width) {
  .video {
    display: flex;
    position: relative;
    padding-top: 50px;
  }

  .video__heding {
    position: absolute;
    top: 0;
    left: 0;
  }

  .video__video {
    order: -1;
    width: 680px;
    height: 460px;
  }
}

/*hh*/
