.video__heding {
  font-size: @fs-normal;
  line-height: @lh-big;
  font-weight: 700;
}

.video__description {
  font-size: @fs-xs;
  line-height: @lh-big;
  font-weight: 400;
  color: @gray-dark;
}

/*hh*/
