html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1150px;
  background: #ffffff;
  font-family: @face;
  color: @black;
  padding: 0;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.title-h2 {
  font-size: @fs-l;
  line-height: @lh-xl;
  font-weight: 700;
  color: @black;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*hh*/
