@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;


@retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@face: "Open Sans", Arial, sans-serif;

@fs-xs: 13px;
@fs-small: 15px;
@fs-normal: 17px;
@fs-big: 19px;
@fs-l: 25px;
@fs-xl: 27px;

@fs-big-t: 20px;
@fs-xl-t: 43px;
@fs-xl-d: 53px;

@lh-small: 24px;
@lh-normal: 20px;
@lh-big: 24px;
@lh-l: 25px;
@lh-xl: 30px;


@lh-normal-t: 22px;
@lh-xl-t: 50px;
@lh-xl-d: 57px;

@black: #000000;
@tiffany: #63d1bb;
@tiffany-dark: #56c3b2;
@gray: #f1f1f1;
@gray-dark: #444444;
@menu-hover: #8f8f8f;
@menu-active: #b2b2b2;
